acoustics==0.2.6
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
altair @ file:///C:/b/abs_27reu1igbg/croot/altair_1687526066495/work
annotated-doc==0.0.4
annotated-types==0.7.0
anyio @ file:///C:/b/abs_31grv7a7bl/croot/anyio_1729121290992/work
appdirs==1.4.4
arabic-reshaper==3.0.0
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
arrow==1.3.0
astropy==6.0.1
astropy-iers-data==0.2025.5.26.0.37.21
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
async-timeout==5.0.1
attrs==24.2.0
audioread==3.0.1
av==15.1.0
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
bleach @ file:///C:/b/abs_925i9psm3u/croot/bleach_1732292896852/work
blinker @ file:///C:/b/abs_d9y2dm7cw2/croot/blinker_1696539752170/work
blosc2==2.5.1
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cachetools @ file:///C:/b/abs_792zbtc0ua/croot/cachetools_1713977157919/work
cbpro==1.1.4
certifi==2024.8.30
cffi @ file:///C:/b/abs_90yq4lmu83/croot/cffi_1726856448345/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
coloredlogs==15.0.1
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
contourpy==1.3.0
cryptography==44.0.2
ctranslate2==4.7.1
cycler==0.12.1
dateparser==1.2.1
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distro==1.9.0
dukpy==0.2.3
elementpath==4.8.0
esprima==4.0.1
et_xmlfile==2.0.0
exceptiongroup @ file:///C:/b/abs_c5h1o1_b5b/croot/exceptiongroup_1706031441653/work
executing==2.2.0
faster-whisper==1.2.1
fastjsonschema @ file:///C:/b/abs_4ev90296ly/croot/python-fastjsonschema_1731939386416/work
ffpyplayer==4.5.2
filelock==3.18.0
flatbuffers==25.12.19
fonttools==4.55.2
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.5.0
fsspec==2025.5.1
future==1.0.0
gevent==25.4.1
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///C:/b/abs_2bkslnqz4i/croot/gitpython_1720455044865/work
gmsh_interop==2024.1
google-api-core==2.30.3
google-auth==2.50.0
google-cloud-speech==2.39.0
googleapis-common-protos==1.75.0
greenlet==3.2.0
grpcio==1.80.0
grpcio-status==1.80.0
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
hf-xet==1.5.0
hrv-analysis==1.0.5
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
huggingface_hub==1.8.0
humanfriendly==10.0
icecream==2.1.4
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata @ file:///C:/b/abs_9d0lp1ysmt/croot/importlib_metadata-suite_1732633510972/work
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.1.0
ipykernel @ file:///C:/b/abs_5etv6sld_j/croot/ipykernel_1728665608850/work
ipython==8.18.1
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///C:/b/abs_4fgmepzmbu/croot/ipywidgets_1710961556913/work
isoduration==20.11.0
javascripthon==0.13
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_ddyeze2h6_/croot/jinja2_1730903330414/work
jiter==0.14.0
joblib==1.4.2
json-tricks==3.17.3
json5==0.10.0
jsonpointer==3.0.0
jsonschema @ file:///C:/b/abs_394_t6__xq/croot/jsonschema_1728486718320/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events @ file:///C:/b/abs_c2m9s5b5m5/croot/jupyter_events_1718738115254/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_client @ file:///C:/b/abs_a6h3c8hfdq/croot/jupyter_client_1699455939372/work
jupyter_core @ file:///C:/b/abs_beftpbuevw/croot/jupyter_core_1718818307097/work
jupyter_server @ file:///C:/b/abs_9a333nh6yu/croot/jupyter_server_1718827092223/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///C:/b/abs_88qjk9lo2r/croot/jupyterlab_1725895228333/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server @ file:///C:/b/abs_fdi5r_tpjc/croot/jupyterlab_server_1725865372811/work
kaitaistruct==0.10
kaleido==0.1.0.post1
keyboard==0.13.5
kiwisolver==1.4.7
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
markdown-it-py @ file:///C:/b/abs_a5bfngz6fu/croot/markdown-it-py_1684279915556/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.9.3
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661915841596/work
mdurl @ file:///C:/Windows/TEMP/abs_3197pzpjbi/croots/recipe/mdurl_1659716032440/work
MeshPy==2022.1.3
mistune==3.1.3
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
moviepy==2.1.2
mpld3==0.5.10
mpmath==1.3.0
msgpack==1.1.0
msgpack-numpy==0.4.8
multidict==6.1.0
nbclient==0.10.1
nbconvert==7.16.6
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
ndindex==1.9.2
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.2.1
neurokit2==0.2.11
nolds==0.6.1
notebook @ file:///C:/b/abs_feeub5ouq6/croot/notebook_1727197380211/work
notebook-as-pdf==0.5.0
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numba==0.60.0
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy==1.26.4
onnxruntime==1.19.2
openai==2.36.0
openapi==2.0.0
opencv-python==4.11.0.86
openpyxl==3.1.5
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
pandas @ file:///C:/b/abs_e18w9ay4we/croot/pandas_1732735115740/work/dist/pandas-2.2.3-cp39-cp39-win_amd64.whl#sha256=f3b41dc9b2687250cbbb5587843986d13008da63bfb026b34d05d4d2f3eab666
pandoc==2.4
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.4.0
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
plotly==5.24.1
pluggy==1.5.0
plumbum==1.9.0
ply==3.11
pooch==1.8.2
proglog==0.1.11
prometheus_client @ file:///C:/b/abs_e7l07zkc4b/croot/prometheus_client_1731961599071/work
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
propcache==0.3.0
proto-plus==1.27.2
protobuf==5.29.6
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
psychopy==2025.1.0
psychtoolbox==3.0.19.14
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
pyarrow @ file:///C:/b/abs_cddzecbo0a/croot/pyarrow_1733937783605/work/python
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycocotools==2.0.10
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.21.0
pydantic==2.13.4
pydantic_core==2.46.4
pydeck @ file:///C:/b/abs_ad9p880wi1/croot/pydeck_1706194121328/work
pyee==11.1.1
pyerfa==2.0.1.5
pyglet==1.4.11
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pymongo==3.5.1
pynarrative==0.3
pynput==1.8.1
pyparallel==0.2.2
pyparsing==3.2.0
pypdf==5.3.0
PyPDF2==3.0.1
pypiwin32==223
pyppeteer==2.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
pyqtgraph==0.13.7
pyreadline3==3.5.4
pyserial==3.5
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
PySocks @ file:///C:/ci/pysocks_1605307512533/work
PySoundFile==0.9.0.post1
pytest==8.3.5
python-bidi==0.6.6
python-binance==1.0.28
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==1.1.0
python-gitlab==5.6.0
python-json-logger==2.0.7
python-osc==1.8.3
python-vlc==3.0.11115
pytools==2024.1.14
pytz==2025.1
pyuff==2.4
PyWavelets==1.6.0
pywin32==305.1
pyWinhook==1.6.2
pywinpty @ file:///C:/b/abs_6696uz5mru/croot/pywinpty_1733514639618/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
questplus==2023.1
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
rpds-py @ file:///C:/b/abs_4b4__dizw9/croot/rpds-py_1732234502033/work
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
Send2Trash @ file:///C:/b/abs_08dh49ew26/croot/send2trash_1699371173324/work
shellingham==1.5.4
shiboken6==6.8.2.1
six==1.10.0
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
sortedcontainers==2.4.0
sounddevice @ file:///home/conda/feedstock_root/build_artifacts/python-sounddevice_1723402953991/work
soundfile==0.12.1
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
soxr==0.5.0.post1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
streamlit @ file:///C:/b/abs_43mk_avm0c/croot/streamlit_1732614544119/work
streamlit-keyup==0.3.0
sympy==1.14.0
tables==3.9.1
tabulate==0.9.0
tenacity @ file:///C:/b/abs_1749lsqys6/croot/tenacity_1730304400080/work
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
threadpoolctl==3.5.0
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tokenizers==0.22.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch==2.7.1
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm==4.67.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typer==0.23.2
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal==5.3
ujson==5.10.0
uri-template==1.3.0
urllib3==1.26.20
watchdog @ file:///C:/b/abs_b3l_3s276z/croot/watchdog_1717166538403/work
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket_client==0.40.0
websockets==10.4
widgetsnbextension @ file:///C:/b/abs_538o2crz7f/croot/widgetsnbextension_1710960099872/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wonderwords==3.0.1
wxPython==4.2.3
xarray==2024.7.0
xlrd==2.0.1
XlsxWriter==3.2.2
xmlschema==4.0.1
yarl==1.18.3
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
zope.event==5.0
zope.interface==7.2
